TELEGRAM_KEY=6072375513:AAEF0QNNhoeGN4tCVupp_rVxxxxxxxxxx
OPENAI_KEY=sk-fQ6ZlMQ6Gp4bPyNTa71MT3BlbkFJDuzB2oY47GQZxxxxxx
GOOGLE_APPLICATION_CREDENTIALS=./key/crested-drive-276906-d9e2995c5c26.json
GENDER=FEMALE
PARAGRAPH_LENGTH=2000